body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}

input {
  max-width: 500px;
}

.gray {
  color: #828282;
}

.orange {
  background-color: #ff6600;
}

.background-gray {
  background-color: rgb(246, 246, 239);
}

.f11 {
  font-size: 11px;
}

.w85 {
  width: 85%;
}

.button {
  font-family: monospace;
  font-size: 10pt;
  color: black;
  background-color: buttonface;
  text-align: center;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  cursor: pointer;
  max-width: 250px;
}

.card {
  width: "18rem";
  position: "relative";
}
.img-overlay {
  position: absolute;
  top: 0;
  bottom: 100%;
  height: 100%;
  right: 0%;
  width: 0;
  overflow: hidden;
  /* background-color: #cda45e; */
  transition: 0.5s ease-in-out;
}

.card:hover .img-overlay {
  width: 100%;
  /* right: 100%; */
}
.overlay-btn {
  position: absolute;
  top: 50%;
  left: 40%;
  color: black;
  background-color: cornsilk;
}

.aboutCont {
  position: relative;
}
.aboutImg {
  transition: 1s ease-out;
  border: 5px solid brown;
}
.aboutCont:hover .aboutImg .leftBox .RightBox {
  translate: translateZ(50%, 50%);
}
.leftBox {
  top: 5vh;
  left: 5vw;
  border-left: 5px solid sandybrown;
  border-top: 5px solid sandybrown;
  height: 10%;
  width: 10%;
  position: absolute;
  transition: 1s ease-out;
  z-index: 2;
}
.RightBox {
  bottom: 5vh;
  right: 5vw;
  border-right: 5px solid sandybrown;
  border-bottom: 5px solid sandybrown;
  height: 10%;
  width: 10%;
  position: absolute;
  z-index: 2;
  transition: 1s ease-out;
}
